/*
Created by Naomi See 
*/
body {
	margin: 0;
	background-image: url(../images/cookiebasket.jpg);
	background-repeat: repeat;
	font-family: Arial,Verdana;
	background-attachment: fixed;
}

#wrapper {
	max-width: 921px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border: 6px double;
	border-color: #666;
	/** rounded corners like this do not validate but you said that was ok **/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	background-color: #FFFFFF;
	min-width: 521px;
	
}
.products {text-align: center;
}
.errorMessage {
	color: red;
	font-weight: bold;
	font-size: 12px;
}
.phperrorMessage {
	color: red;
	font-weight: bold;
	font-size: 12px;
}
.newserrorMessage {
	color: red;
	font-weight: bold;
	font-size: 12px;
}
#newsletterSuccess {
	display: none;
	padding-left: 15px;
	color: #aa6c01;
	margin-top: -30px;
	padding-bottom: 10px;
}
#emailmessageSuccess {
	display: none;
	//padding-left: 15px;
	//color: #aa6c01;
	//margin-top: -30px;
	//padding-bottom: 10px;
}
#messageSuccess {
	display: none;
	//padding-left: 15px;
	//color: #aa6c01;
	//margin-top: -30px;
	//padding-bottom: 10px;
}

#header {
	background-color: #ecc77d;
	height: 205px;
	min-width: 521px;
	padding-left: 20px;
	position: relative;
	clear: both;
}
.basket {
	text-align: right;
	position: absolute;
	z-index:1;
	top: -29px;
	height: 266px;
	left: 637px;
	width: 283px;
}
#account-information {
	margin-left: -10px;
}

#navigation-one {
	/* bar that runs across the top of the menu */
    height: 16px;
	background: #e16031;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #8A5C2E;
}

ul.claybricks{ /* main menu UL */
	font-weight: bold;
	width: 100%;
	background: #e3e490;
	padding: 4px 0 4px 0; /* padding of the 4 sides of the menu */
	margin: 0;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #8A5C2E;
	text-align: center; 
}

ul.claybricks li{
display: inline;
}

ul.claybricks li a{
color:black;
padding: 6px 8px 4px 8px; /* padding of the 4 sides of each menu link */
margin-right: 20px; /* spacing between each menu link */
text-decoration: none;
}

ul.claybricks li a:hover, ul.claybricks li a.selected{
	color: white;
	background: #5d4137;
	box-shadow: 0 0 5px #ecc77d;
	padding-top: 6px; 
	padding-bottom: 16px; /* large padding to get menu item to protrude downwards */
}

#shopping-cart {
	text-align: right;
	padding-right: 10px;
	float: right;
	margin-right: 10px;
	font-size: 16px;
}
.cart {
	margin-right: -10px;
	font-size: 14px;
}

#main {}

h1 {
	text-align: left;
	font-size: 28px;
	margin-top: 10px;
}
h2 { font-size: 22px;
}
h3 {font-size: 20px;
}

h4 {}

.content {
	margin-top: -18px;
	margin-right: 5px;
}
.contenta {
	margin-top: -18px;
	margin-right: 5px;
}
.stack {
	text-align: right;
	border: 4px double #8A5C2E;
	position: relative;
	float: right;
	margin-right: 5px;
}
.stack2 {
	text-align: right;
	border: 4px double #8A5C2E;
	position: relative;
	float: right;
	margin-right: 40px;
	margin-top: -65px;
}
#cart-count {}
a:link { color: #aa6c01;
         text-decoration: none;
}
a:visited { color: #aa6c01;
            text-decoration: none;
}
a:hover { color: #C3FF68;
          text-decoration: none; 
}
a:active { color: #000044;
          text-decoration: none; 
}

#cookie-categories {
	text-align: left;
	float: left;
	padding-left: 10px;
	padding-bottom: 40px;
	margin-top: 10px;
}

.categories {
	margin-top: -15px;
	border: 4px double #8A5C2E;
}
ul.categories2 {
list-style-type:none;
margin:0;
padding:0;
}
ul.categories2 li a:link, ul.categories2 li a:visited
{
	display:block;
	font-weight:bold;
	color:#906030;
	background-color:#E3E490;
	width:190px;
	text-align:left;
	text-decoration:none;
	text-transform:uppercase;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 5px;
	padding-right: 6px;
}
ul.categories2 li a:hover, ul.categories2 li a:active
{
	background-color:#ECC77D;
}

#newsletter {
	clear: left;
	padding-left: 10px;
	padding-bottom: 20px;
}
#content-holder {
	padding-top: 50px;
	text-align: left;
	margin-left: 230px;
	margin-right: 10px;
}
.content-holdera {
	padding-top: 50px;
	text-align: left;
	margin-left: 230px;
	margin-right: 10px;
}
.content-holderb {
	padding-top: 50px;
	text-align: left;
	margin-left: 230px;
	margin-right: 10px;
}
.content-holderc {
	padding-top: 50px;
	text-align: left;
	margin-left: 230px;
	margin-right: 10px;
}
#footer {
	background-color: #ECC77D;
	padding-top: 40px;
	text-align: center;
	padding-bottom: 10px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #8A5C2E;
}
