<h1>About Us</h1>
	<p>Chucky Charlie's originated in my great grandfather Charlie Grant's kitchen over 80 years ago. He started making cookies for the neighbors during the depression as a means of trade. The recipes were passed on to my grandfather who passed the recipes on down to my father. My father started Chunky Charlie's Bakery 40 years ago with the help of my late grandfather in Omaha, Nebraska. They had a dream to bring the communities together with warm gooie cookies.<br /><br />
The bakery is still thriving to this day and my father Charlie Grant III gets up every morning at 4am to start fresh batches of delicious cookies. His cookies have become legendary in the community. They have become so popular that people who moved away started to contact the store to order batches to have shipped to them all over the world. With the rise of this happening and technology moving so fast we have opened this online store. We are happy to bring you the opportunity to order your favorite Chunky Charlie cookie's and have them delivered right to your doorstep or wherever you want anywhere in the world!</p>
                <p><i>Cynthia Charlie Grant</i></p>
